.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 588px;
    margin-bottom: 24px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 18px;
    width: calc((100%-24px)/3);
    border-radius: 100px;
    background: var(--Badges, #f2f4f7);
    mix-blend-mode: multiply;
    color: var(--Main, #101828);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.feature svg {
    margin-right: 8px;
    color: #555;
}